<div class="subheader">
    <div class="container p-2">
        <div class="row">
            <div class="col d-flex gap-2 align-items-center">
                <div class="email d-flex gap-1">
                    <i class="bi bi-envelope-open"></i> <span>alifrazanit@gmail.com</span>
                </div>
                <div class="phone d-flex gap-1">
                    <i class="bi bi-telephone"></i>
                    <span>+628111588591</span>
                </div>
            </div>
            <div class="col d-flex gap-2 justify-content-end">
                <div class="switch-ID">
                    <button matButton="outlined">
                        <img src="assets/icon/flag/indonesia.png" alt="Indonesia icons created by verluk - Flaticon" />
                    </button>
                </div>
                <div class="switch-EN">
                    <button matButton="outlined">
                        <img src="assets/icon/flag/united-kingdom.png" alt="England icons created by IconMarketPK - Flaticon" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>